{% extends "base.html" %}
{% block page_title %}BOOK DETAILS{% endblock %}
{% block page_title_mobile %}BOOK DETAILS{% endblock %}
{% block content %}
<div class="d-flex flex-column h-100">
  <div class="card shadow mb-3">
    <div class="card-body">
      <div class="row">
        <div class="col-12 col-md-4 mb-3 text-center">
          <img src="{{ book.url }}" class="img-fluid" alt="{{ book.title }}">
        </div>
        <div class="col-12 col-md-8">
          <h3>{{ book.title }}<br>By: {{ book.authors|join(", ") }}</h3>
          <p class="mb-1">Category: {{ book.category }}{% if book.genres %}, {{ book.genres|join(", ") }}{% endif %}</p>
          <p class="mb-1">Pages: {{ book.pages }}</p>
          <p class="mb-1">Copies: <strong>{{ book.copies }}</strong> Available: <strong>{{ book.available }}</strong></p>
          
          {% for para in book.description %}
            <p>{{ para }}</p>
          {% endfor %}
        </div>
      </div>
        <div class="d-flex justify-content-end gap-2 mt-3">
          <a href="/" class="btn btn-success">Back to Book Titles</a>
          {% if book.available == 0 %}
            <button class="btn btn-danger">Not Available</button>
          {% else %}
            <a href="{{ url_for('make_loan', title=book.title) }}" class="btn btn-success">Make a Loan</a>
          {% endif %}
        </div>
    </div>
  </div>
</div>
{% endblock %}